{% extends "base.html" %}

{% block title %} My dictionary {% endblock %}

{% block content %}
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <div class="introtxt">
        <p class="font-xs nospace">Improve your personal vocabulary</p>
        <h2 class="heading">Create your own dictionary!</h2>
        <p>Create a unique vocabulary that reflects your thoughts and ideas. Add words, definitions and usage examples to enrich your language. Share your dictionary with your friends and inspire them to learn new words!</p>
      </div>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="words_list">My words</a></li>
          <li><a class="btn" href="add_word">Add new</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
{% endblock %}